venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/

.DS_Store
__MACOSX/
._*

*.zip
*.rar

deliverables_for_submission/

# large model files only ignore if above 50MB
# models/*.h5
# models/*.keras
# models/*.pt
